

  .contact h1 {
    margin-bottom: 40px;
    font-size: 36px;
    color: #e3e3e3;
    text-align: center;
  }
  
  .form-container {
    width: 70%; 
    margin:auto;
    margin-top: 20px;
    .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 500px;
    padding: 10px;
  }
  
  }
  
  .contact-form {
    margin-top: 40px;
    background: #2b2b2b;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 1px solid yellow;
  box-shadow: var(--box-shadow);
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  }
  
  @keyframes superman {
    0% {
      border-color: blue;
      transform: translate(0, 0px);
      box-shadow: 10px 10px 100px src="/assets/hero/my.png" 50px blue;
    }
  
    25% {
      border-color: rgb(239, 244, 11);
      box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
    }
  
    50% {
      border-color: rgb(12, 12, 199);
      transform: translate(0, 10px);
      box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
    }
  
    75% {
      border-color: rgb(130, 217, 160);
      box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
    }
  
    100% {
      border-color: rgb(50, 55, 205);
      transform: translate(0, -0px);
      box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
    }
  }
  .contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffff;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffff;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 4px;
    background-color: #333333;
    font-size: 16px;
    color: #e3e3e3;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #f2ff00f4;
    outline: none;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .contact-icon {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .contact-icon .items {
    color: #e3e3e3;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .contact-icon .items:hover {
    color: #007bff;
  }
  
  